# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.sublime*

# Folders #
###################
sandbox/
.ipynb_checkpoints/
__pycache__/
